{% extends 'base.html' %}


{% block content %}

    <section class="">
        <div class="container py-4 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">

                            <p class="">
                            <h3 class="fw-bold mb-4 text-uppercase">Регистрация</h3>
                            {% include 'inc/alerts.html' %}

                            <form action="{% url 'register' %}" method="POST">
                                {% csrf_token %}

                                {{ form }}

                                {#                                <div class="form-group my-4">#}
                                {#                                    {{ form.first_name }}#}
                                {#                                </div>#}
                                {##}
                                {#                                <div class="form-group my-4">#}
                                {#                                    {{ form.last_name }}#}
                                {#                                </div>#}
                                {##}
                                {#                                <div class="form-group my-4">#}
                                {#                                    {{ form.email }}#}
                                {#                                    <small id="emailHelp" class="form-text text-muted">Мы никогда никому не#}
                                {#                                        передадим вашу электронную почту.</small>#}
                                {#                                </div>#}
                                {##}
                                {#                                <div class="form-group my-4">#}
                                {#                                    {{ form.phone_number }}#}
                                {#                                    <small id="phoneHelp" class="form-text text-muted">Мы никогда никому не#}
                                {#                                        передадим ваш номер телефона.</small>#}
                                {#                                </div>#}
                                {##}
                                {#                                <div class="form-group my-4">#}
                                {#                                    {{ form.password }}#}
                                {#                                </div>#}
                                {#                                <div class="form-group my-4">#}
                                {#                                    {{ form.confirm_password }}#}
                                {#                                </div>#}
                                {% if form.non_field_errors %}
                                    <div class="card bg-light my-3">
                                        {% for error in form.non_field_errors %}
                                            <h5 class="my-2">{{ error }}</h5>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                <button class="btn btn-outline-dark btn-lg px-5" type="submit">Регистрация</button>
                            </form>


                            <div class="d-flex justify-content-center text-center mt-3 pt-1">
                                <a href="#!" class="text-black"><i class="fab fa-facebook-f fa-lg"></i></a>
                                <a href="#!" class="text-black"><i class="fab fa-twitter fa-lg mx-4 px-2"></i></a>
                                <a href="#!" class="text-black"><i class="fab fa-google fa-lg"></i></a>
                            </div>

                            <div>
                                <p class="mb-0 mt-3">Уже есть учетная запись?
                                    <a href="{% url 'login' %}" class="text-black-50 fw-bold">Sign In</a>
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>

{% endblock %}