
.rate > input {
    display: none;
}

.rate {
    display: inline-block;
    border: 0;
}

.rate > label {
    float: right;
}

.rate > label:before {
    display: inline-block;
    font-size: 30px;
    font-family: FontAwesome;
    content: "\f005";
    margin: 0;
    padding: 0.3rem .2rem;
    cursor: pointer;
}

.rate .half:before {
    content: "\f089";
    position: absolute;
    padding-right: 0;
}

.star input:checked ~ label, label:hover ~ label {
    color: #ffb503;
}

.star input:checked + label:hover, input:checked ~ label:hover, input:checked ~ label:hover ~ label,
label:hover ~ input:checked ~ label {
    color: #cc9000;
}

.rating-star i {
    color: #ffb503;
}


#lblCartCount {
    font-size: 15px;
    background: #F93154;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -10px;
}


.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    border-radius: 4%;
    width: 70%;
    height: 100%;
    object-fit: cover;
}