{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- ========================= SECTION MAIN ========================= -->
    <section class="my-4">
        <div class="container">

            <div class="intro-banner-wrap">
                <img src="{% static 'images/banners/cover.jpg' %}" class="img-fluid rounded">
            </div>

        </div> <!-- container //  -->
    </section>
    <!-- ========================= SECTION MAIN END// ========================= -->

    <!-- ========================= SECTION  ========================= -->
    <section class="">
        <div class="container">

            <div class="d-flex">
                <h3 class="me-auto">Популярные товары</h3>
                <a href="{% url 'store' %}" class="btn btn-outline-primary justify-content-end">Увидеть все</a>
            </div>


            <div class="row my-3">
                <div class="row my-3">
                    {% for variation in variations %}

                        <div class="card text-center col-md-3 p-2 mx-auto" style="width: 24%;">

                            {% for photo in gallery %}
                                {% if photo.variation == variation %}
                                    <a href="{{ variation.product.get_absolute_url }}" class="mt-2">
                                        <img width="80%"
                                            style="border-radius: 5%"
                                            class="d-block mx-auto mt-2"
                                            src="{{ photo.image.url }}">
                                    </a>
                                {% endif %}
                            {% endfor %}


                            <div class="card-body">
                                <h5 class="card-title">{{ variation.product.product_name|truncatechars:50 }}</h5>
                                <p class="card-text mb-1">{{ variation.price }} руб</p>

                                <div class="rating-star">
                                <span>
                                    <i class="fa fa-lg fa-star{% if variation.average_review < 0.5 %}-o{% elif variation.average_review >= 0.5 and variation.average_review < 1 %}-half-o {% endif %}"
                                       aria-hidden="true"></i>
                                    <i class="fa fa-lg fa-star{% if variation.average_review < 1.5 %}-o{% elif variation.average_review >= 1.5 and variation.average_review < 2 %}-half-o {% endif %}"
                                       aria-hidden="true"></i>
                                    <i class="fa fa-lg fa-star{% if variation.average_review < 2.5 %}-o{% elif variation.average_review >= 2.5 and variation.average_review < 3 %}-half-o {% endif %}"
                                       aria-hidden="true"></i>
                                    <i class="fa fa-lg fa-star{% if variation.average_review < 3.5 %}-o{% elif variation.average_review >= 3.5 and variation.average_review < 4 %}-half-o {% endif %}"
                                       aria-hidden="true"></i>
                                    <i class="fa fa-lg fa-star{% if variation.average_review < 4.5 %}-o{% elif variation.average_review >= 4.5 and variation.average_review < 5 %}-half-o {% endif %}"
                                       aria-hidden="true"></i>
                                </span>

                                </div>

                            </div>
                        </div>

                    {% endfor %}

                </div> <!-- row.// -->

            </div><!-- container // -->
    </section>
    <!-- ========================= SECTION  END// ========================= -->

{% endblock %}