{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- ========================= SECTION MAIN ========================= -->
    <section class="section-intro padding-y-sm my-3">
        <div class="container">

            <div class="intro-banner-wrap">
                <img src="{% static 'images/banners/cover.jpg' %}" class="img-fluid rounded">
            </div>

        </div> <!-- container //  -->
    </section>
    <!-- ========================= SECTION MAIN END// ========================= -->

    <!-- ========================= SECTION  ========================= -->
    <section class="section-name padding-y-sm">
        <div class="container">

            <header class="section-heading">
                <a href="{% url 'store' %}" class="btn btn-outline-primary float-right">Увидеть все</a>
                <h3 class="section-title">Популярные товары</h3>
            </header><!-- sect-heading -->


            <div class="row">
                {% for variation in variations %}
                    <div class="col-md-3">
                        <div class="card card-product-grid">

                            {% for photo in gallery %}
                                {% if photo.variation == variation %}
                                    <a href="{{ variation.product.get_absolute_url }}" class="mt-2"> <img width="80%" style="border-radius: 5%" class="d-block mx-auto" src="{{ photo.image.url }}"> </a>
                                {% endif %}
                            {% endfor %}

                            <div class="info-wrap">
                                <p>{{ variation.product.product_name }}</p>

                                <div class="rating-star">
                                    <span>
                                        <i class="fa fa-lg fa-star{% if variation.average_review < 0.5 %}-o{% elif variation.average_review >= 0.5 and variation.average_review <= 1 %}-half-o {% endif %}"
                                           aria-hidden="true"></i>
                                        <i class="fa fa-lg fa-star{% if variation.average_review < 1.5 %}-o{% elif variation.average_review >= 1.5 and variation.average_review <= 2 %}-half-o {% endif %}"
                                           aria-hidden="true"></i>
                                        <i class="fa fa-lg fa-star{% if variation.average_review < 2.5 %}-o{% elif variation.average_review >= 2.5 and variation.average_review <= 3 %}-half-o {% endif %}"
                                           aria-hidden="true"></i>
                                        <i class="fa fa-lg fa-star{% if variation.average_review < 3.5 %}-o{% elif variation.average_review >= 3.5 and variation.average_review <= 4 %}-half-o {% endif %}"
                                           aria-hidden="true"></i>
                                        <i class="fa fa-lg fa-star{% if variation.average_review < 4.5 %}-o{% elif variation.average_review >= 4.5 and variation.average_review <= 5 %}-half-o {% endif %}"
                                           aria-hidden="true"></i>
                                    </span>
                                </div>
                                <div class="price mt-1">{{ variation.price }} руб</div> <!-- price-wrap.// -->
                            </div>
                        </div>
                    </div> <!-- col.// -->
                {% endfor %}

            </div> <!-- row.// -->

        </div><!-- container // -->
    </section>
    <!-- ========================= SECTION  END// ========================= -->

{% endblock %}