{% extends 'base.html' %}
{% load static %}

{% block content %}

    <section class="bg-light py-3">
        <div class="container ">
            {% if not cart_items %}
                <div class="py-5">
                    <h2 class="text-center pt-3">В корзине пока ничего нет</h2>
                    <p class="text-center text-muted my-5">Начните с главной страницы или воспользуйтесь поиском, чтобы
                        найти
                        что-то конкретное</p>
                    <div class="text-center pb-3">
                        <a href="{% url 'store' %}" class="btn btn-outline-primary">Перейти в каталог</a>
                    </div>
                </div>
            {% else %}
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 row">

                            <div class="card mb-3 p-3">
                                <div class="card-body">
                                    <h4 class="card-title mb-4 text-center">Корзина</h4>
                                    <hr>
                                    {% for item in cart_items %}
                                        <div class="mb-4 d-flex row">

                                            <div class="col-md-2 mx-2 my-auto">
                                                <a href="{{ item.variation.get_absolute_url }}">
                                                    <img src="{{ item.variation.product.main_img.url }}" class="shadow"
                                                         style="height: 150px; border-radius: 3%">
                                                </a>
                                            </div>

                                            <div class="col-md-5 my-auto">
                                                <h5>{{ item.variation.product.product_name }} </h5>
                                                <p class="text-muted mb-0"> Цвет: {{ item.variation.color }}  </p>
                                                <p class="text-muted mb-0"> Размер: {{ item.size }} </p>
                                                <p class="text-muted mb-0"> {{ item.variation.product.seller }}   </p>
                                            </div>

                                            <div class="col-md-2 d-flex">
                                                <div class="my-auto">
                                                    <a href="{% url 'remove_cart' item.variation.id item.id %}"
                                                       class="btn btn-light" type="button" id="button-minus">
                                                        <i class="fa fa-minus"></i>
                                                    </a>
                                                </div>

                                                <p class="my-auto mx-3">{{ item.quantity }}</p>

                                                <div class="my-auto">
                                                    <form action="{% url 'add_cart_item' item.id %}" method="POST">
                                                        {% csrf_token %}
                                                        <button class="btn btn-light" type="submit"
                                                                id="button-plus">
                                                            <i class="fa fa-plus"></i>
                                                        </button>
                                                    </form>
                                                </div>
                                            </div>


                                            <div class="col-md my-auto text-center">
                                                <h5>{{ item.sub_total }} руб </h5>
                                                <p class="text-muted">
                                                    {{ item.variation.price }} руб за 1 шт
                                                </p>
                                            </div>

                                        </div>
                                        <hr>
                                    {% endfor %}
                                </div>
                            </div>
                            <form action="{% url 'place_order' %}" method="POST" class="p-0 mb-3">
                                {% csrf_token %}

                                <div class="d-flex justify-content-between">
                                    <div class="card col-md-6 p-4" style="width: 49%">
                                        <div class="card-body">
                                            <h4 class="card-title mb-4">Информация о доставке</h4>

                                            <div class="row">
                                                <div class="form-group col-sm-12">
                                                    <label>Улица *</label>
                                                    <input type="text" placeholder="" name="street" class="form-control"
                                                           required>
                                                </div>
                                                <div class="form-group col-sm-6">
                                                    <label>Дом *</label>
                                                    <input type="text" placeholder="" name="house" class="form-control"
                                                           required>
                                                </div>
                                                <div class="form-group col-sm-6">
                                                    <label>Подъезд *</label>
                                                    <input type="text" placeholder="" name="entrance"
                                                           class="form-control" required>
                                                </div>
                                                <div class="form-group col-sm-6">
                                                    <label>Этаж *</label>
                                                    <input type="text" placeholder="" name="floor" class="form-control"
                                                           required>
                                                </div>

                                            </div> <!-- row.// -->
                                        </div> <!-- card-body.// -->
                                    </div>

                                    {% if not request.user.is_authenticated %}
                                        <div class="card col-md-6 p-4" style="width: 49%">
                                            <div class="card-body">
                                                <h4 class="card-title mb-4">Ваши данные</h4>
                                                <div class="row">
                                                    <div class="form-group col-sm-6">
                                                        <label>Имя *</label>
                                                        <input type="text" placeholder="" name="first_name"
                                                               class="form-control">
                                                    </div>
                                                    <div class="form-group col-sm-6">
                                                        <label>Фамилия *</label>
                                                        <input type="text" placeholder="" name="last_name"
                                                               class="form-control">
                                                    </div>
                                                    <div class="form-group col-sm-12">
                                                        <label>Контактный телефон *</label>
                                                        <input type="text" value="" name="phone" class="form-control">
                                                    </div>
                                                    <div class="form-group col-sm-8">
                                                        <label>Электронная почта</label>
                                                        <input type="email" name="email" placeholder="example@mail.ru"
                                                               class="form-control">
                                                    </div>
                                                </div> <!-- row.// -->
                                            </div> <!-- card-body.// -->
                                        </div>
                                    {% endif %}
                                </div>
                        </div>

                        <div class="col-md-3">
                            <div class="card p-3">
                                <div class="card-body text-center">
                                    <h4>Заказ на:</h4>
                                    <h5 class="my-4">{{ total }} руб.</h5>
                                    <hr>
                                    <p class="mb-3">
                                        <img src="{% static './images/misc/payments.png' %}" height="26">
                                    </p>
                                    <button type="submit" name="submit" class="btn btn-lg my-2 btn-outline-success">
                                        Заказать
                                    </button>
                                </div>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            {% endif %}
        </div>
    </section>

{% endblock %}