{% extends 'base.html' %}


{% block content %}
    <section class="section-content padding-y bg">
        <div class="container">

            <!-- ============================ COMPONENT 1 ================================= -->
            <div class="card">
                <div class="row no-gutters">
                    <aside class="col-md-6">
                        <article class="gallery-wrap my-5">

                            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">

                                    {% for photo in product_gallery %}
                                        <div class="carousel-item {% if photo.image.url == product_gallery.first.image.url %}active{% endif %}">
                                            <img class="d-block mx-auto" src="{{ photo.image.url }}">
                                        </div>
                                    {% endfor %}

                                </div>
                                <a class="carousel-control-prev" href="#carouselExampleControls" role="button"
                                   data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselExampleControls" role="button"
                                   data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>

                        </article> <!-- gallery-wrap .end// -->
                    </aside>

                    <main class="col-md-6 border-left border-bottom">
                        <form action="{% url 'add_cart' single_product.id %}" method="POST">
                            {% csrf_token %}

                            <article class="content-body">

                                <h2 class="title">{{ single_product.product_name }}</h2>
                                <hr>

                                <div class="mb-3">
                                    <var class="price h4">{{ variation.price }} руб</var>
                                    <br>

                                    <div class="rating-star mt-2">
                                        <span>
                                            <i class="fa fa-lg fa-star{% if single_product.average_review < 0.5 %}-o{% elif single_product.average_review >= 0.5 and single_product.average_review <= 1 %}-half-o {% endif %}"
                                               aria-hidden="true"></i>
                                            <i class="fa fa-lg fa-star{% if single_product.average_review < 1.5 %}-o{% elif single_product.average_review >= 1.5 and single_product.average_review <= 2 %}-half-o {% endif %}"
                                               aria-hidden="true"></i>
                                            <i class="fa fa-lg fa-star{% if single_product.average_review < 2.5 %}-o{% elif single_product.average_review >= 2.5 and single_product.average_review <= 3 %}-half-o {% endif %}"
                                               aria-hidden="true"></i>
                                            <i class="fa fa-lg fa-star{% if single_product.average_review < 3.5 %}-o{% elif single_product.average_review >= 3.5 and single_product.average_review <= 4 %}-half-o {% endif %}"
                                               aria-hidden="true"></i>
                                            <i class="fa fa-lg fa-star{% if single_product.average_review < 4.5 %}-o{% elif single_product.average_review >= 4.5 and single_product.average_review <= 5 %}-half-o {% endif %}"
                                               aria-hidden="true"></i>
                                        </span>
                                        <span>{{ single_product.count_review }} reviews</span>
                                    </div>

                                </div>

                                <hr>
                                <div class="row">
                                    <div class="item-option-select">
                                        <h6>Таблица размеров</h6>
                                        <div class="btn-group btn-group-sm btn-group-toggle" data-toggle="buttons">

                                            {% for size in sizes %}
                                                <label class="btn btn-light mt-2">
                                                    <input type="radio" name="radio_color"> {{ size.size_number }}
                                                </label>
                                            {% endfor %}

                                        </div>
                                    </div>
                                </div> <!-- row.// -->
                                <hr>

                                <button class="btn  btn-primary" type="submit"> <span
                                        class="text">Добавить в корзину</span> <i class="fas fa-shopping-cart"></i>
                                </button>

                            </article> <!-- product-info-aside .// -->

                        </form>
                    </main> <!-- col.// -->

                    <div class="col-md-6 border-top">
                        <div class="mx-4 my-4">
                            <h4>Состав</h4>
                            {{ single_product.composition }}
                            <br>
                            <h4>Описание</h4>
                            {{ single_product.description }}
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="mx-4 my-4">
                            <h4>Характеристики</h4>
                            {% for specification in specifications %}
                                <p>{{ specification.title }} --- {{ specification.value }}</p>
                            {% endfor %}

                        </div>
                    </div>

                </div> <!-- row.// -->
            </div> <!-- card.// -->
            <!-- ============================ COMPONENT 1 END .// ================================= -->

            <br>

            <div class="row">
                <div class="col-md-9">


                    <form action="{% url 'submit_review' single_product.id %}" method="POST">
                        {% csrf_token %}

                        <h5>Напишите свой отзыв</h5>

                        <div class="mb-5">
                            <label for="">Как вы оцениваете этот продукт?</label>
                            <br>
                            <div class="rate">
                                <input type="radio" name="rating" id="rating10" value="5" required>
                                <label for="rating10"
                                       title="5"></label>

                                <input type="radio" name="rating" id="rating9" value="4.5" required>
                                <label for="rating9"
                                       title="4.5"
                                       class="half"></label>
                                <input type="radio" name="rating" id="rating8" value="4" required>
                                <label for="rating8"
                                       title="4"></label>

                                <input type="radio" name="rating" id="rating7" value="3.5" required>
                                <label for="rating7"
                                       title="3.5"
                                       class="half"></label>
                                <input type="radio" name="rating" id="rating6" value="3" required>
                                <label for="rating6"
                                       title="3"></label>

                                <input type="radio" name="rating" id="rating5" value="2.5" required>
                                <label for="rating5"
                                       title="2.5"
                                       class="half"></label>
                                <input type="radio" name="rating" id="rating4" value="2" required>
                                <label for="rating4"
                                       title="2"></label>

                                <input type="radio" name="rating" id="rating3" value="1.5" required>
                                <label for="rating3"
                                       title="1.5"
                                       class="half"></label>
                                <input type="radio" name="rating" id="rating2" value="1" required>
                                <label for="rating2"
                                       title="1"></label>

                                <input type="radio" name="rating" id="rating1" value="0.5" required>
                                <label for="rating1"
                                       title="0.5"
                                       class="half"></label>
                            </div>
                            <br>

                            Review Title:
                            <input type="text" class="form-control" name="subject">
                            <br>
                            Review:
                            <textarea name="review" class="form-control" id="" rows="4"></textarea>
                            <br>
                            {% if user.is_authenticated %}
                                {% if order_product %}
                                    <input type="submit" class="btn btn-primary" value="Submit Review">
                                {% else %}
                                    <p>You must purchase this product</p>
                                {% endif %}
                            {% else %}
                                <p>You must be logged in to post a review</p>
                            {% endif %}

                        </div>
                        {% include 'inc/alerts.html' %}
                    </form>

                    <header class="section-heading">
                        <h3>Customer Reviews </h3>

                        <div class="rating-star">
                            <span>
                                <i class="fa fa-lg fa-star{% if single_product.average_review < 0.5 %}-o{% elif single_product.average_review >= 0.5 and single_product.average_review <= 1 %}-half-o {% endif %}"
                                   aria-hidden="true"></i>
                                <i class="fa fa-lg fa-star{% if single_product.average_review < 1.5 %}-o{% elif single_product.average_review >= 1.5 and single_product.average_review <= 2 %}-half-o {% endif %}"
                                   aria-hidden="true"></i>
                                <i class="fa fa-lg fa-star{% if single_product.average_review < 2.5 %}-o{% elif single_product.average_review >= 2.5 and single_product.average_review <= 3 %}-half-o {% endif %}"
                                   aria-hidden="true"></i>
                                <i class="fa fa-lg fa-star{% if single_product.average_review < 3.5 %}-o{% elif single_product.average_review >= 3.5 and single_product.average_review <= 4 %}-half-o {% endif %}"
                                   aria-hidden="true"></i>
                                <i class="fa fa-lg fa-star{% if single_product.average_review < 4.5 %}-o{% elif single_product.average_review >= 4.5 and single_product.average_review <= 5 %}-half-o {% endif %}"
                                   aria-hidden="true"></i>
                            </span>
                        </div>
                        <span>{{ single_product.count_review }} reviews</span>

                    </header>

                    {% for review in reviews %}

                        <article class="box mb-3">
                            <div class="icontext w-100">
                                {#                                <img src="./images/avatars/avatar1.jpg" class="img-xs icon rounded-circle">#}
                                <div class="text">
                                    <span class="date text-muted float-md-right">{{ review.created_at }} </span>
                                    <h6 class="mb-1">{{ review.user.full_name }} </h6>
                                    <div class="rating-star">
                                        <span>
                                            <i class="fa fa-lg fa-star{% if review.rating == 0.5 %}-half-o{% elif review.rating < 1 %}-o {% endif %}"
                                               aria-hidden="true"></i>
                                            <i class="fa fa-lg fa-star{% if review.rating == 1.5 %}-half-o{% elif review.rating < 2 %}-o {% endif %}"
                                               aria-hidden="true"></i>
                                            <i class="fa fa-lg fa-star{% if review.rating == 2.5 %}-half-o{% elif review.rating < 3 %}-o {% endif %}"
                                               aria-hidden="true"></i>
                                            <i class="fa fa-lg fa-star{% if review.rating == 3.5 %}-half-o{% elif review.rating < 4 %}-o {% endif %}"
                                               aria-hidden="true"></i>
                                            <i class="fa fa-lg fa-star{% if review.rating == 4.5 %}-half-o{% elif review.rating < 5 %}-o {% endif %}"
                                               aria-hidden="true"></i>
                                        </span>
                                    </div>
                                </div>
                            </div> <!-- icontext.// -->
                            <div class="mt-3">
                                <h6>{{ review.subject }}</h6>
                                <p>{{ review.review }}</p>
                            </div>
                        </article>
                    {% endfor %}


                </div> <!-- col.// -->
            </div> <!-- row.// -->


        </div> <!-- container .//  -->
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.thumb a').click(function (e) {
                e.preventDefault();
                $('.mainImage img').attr('src', $(this).attr('href'));
            })
        })
    </script>

{% endblock %}