{% extends 'base.html' %}

{% block head %}
    <link
            rel="stylesheet"
            href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />
    <!-- Demo styles -->
    <script type="text/javascript"
            src="https://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=aARnDb3Hw7jvDQ0vXFraeT4UdeZnvrTUZbNU_snMXF5RvAzD8zn618Jof7EUhemUY0y0s1yTjV022uN_MesHKw-xmmAcHVVGxMCN8v5Bmw0"
            charset="UTF-8"></script>
    <link rel="stylesheet" crossorigin="anonymous"
          href="https://gc.kis.v2.scr.kaspersky-labs.com/E3E8934C-235A-4B0E-825A-35A08381A191/abn/main.css?attr=aHR0cHM6Ly9zd2lwZXJqcy5jb20vZGVtb3MvMTEwLXNsaWRlcy1wZXItdmlldy9jb3JlLmh0bWw"/>

{% endblock %}
{% block content %}
    <section class="bg-light">
        <div class="container py-3">

            <!-- ============================ COMPONENT 1 ================================= -->
            <div class="card">
                <div class="row">

                    <div id="carouselExampleDark" class="carousel carousel-dark slide col-md-6 mt-2"
                         data-bs-ride="carousel">
                        <div class="carousel-inner">

                            {% for photo in product_gallery %}
                                <div class="carousel-item py-4 {% if photo.image.url == product_gallery.first.image.url %}active{% endif %}"
                                     data-bs-interval="10000">
                                    <img class="d-block mx-auto shadow" width="70%" style="border-radius: 2%"
                                         src="{{ photo.image.url }}">
                                </div>
                            {% endfor %}

                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
                                data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                                data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>

                    <div class="col-md-6 mt-5 text-center" style="width: 45%">


                        <h3 class="title">{{ single_product.product_name }}</h3>

                        <hr class="mx-4">

                        <div class="my-5">
                            <h4 class="">{{ variation.price }} руб</h4>
                            <div class="rating-star">
                                <span class="star">
                                    <i class="fa fa-lg fa-star{% if variation.average_review < 0.5 %}-o{% elif variation.average_review >= 0.5 and variation.average_review <= 1 %}-half-o {% endif %}"
                                       aria-hidden="true"></i>
                                    <i class="fa fa-lg fa-star{% if variation.average_review < 1.5 %}-o{% elif variation.average_review >= 1.5 and variation.average_review <= 2 %}-half-o {% endif %}"
                                       aria-hidden="true"></i>
                                    <i class="fa fa-lg fa-star{% if variation.average_review < 2.5 %}-o{% elif variation.average_review >= 2.5 and variation.average_review <= 3 %}-half-o {% endif %}"
                                       aria-hidden="true"></i>
                                    <i class="fa fa-lg fa-star{% if variation.average_review < 3.5 %}-o{% elif variation.average_review >= 3.5 and variation.average_review <= 4 %}-half-o {% endif %}"
                                       aria-hidden="true"></i>
                                    <i class="fa fa-lg fa-star{% if variation.average_review < 4.5 %}-o{% elif variation.average_review >= 4.5 and variation.average_review <= 5 %}-half-o {% endif %}"
                                       aria-hidden="true"></i>
                                </span>
                                <span>{{ variation.count_review }} отзыв</span>
                            </div>

                            {% if variations_of_single_product.count > 1 %}
                                <div class="swiper mySwiper my-3">
                                    <h4 class="py-3" style="text-align: start">Другие цвета:</h4>
                                    <div class="swiper-wrapper">
                                        {% for var in variations_of_single_product %}
                                            <div class="swiper-slide">
                                                <a href="{{ var.get_absolute_url }}">
                                                    <img src="{{ var.get_variation_gallery.image.url }}" alt=""></a>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div class="swiper-pagination"></div>
                                </div>

                            {% endif %}

                        </div>

                        <form action="{% url 'add_cart' variation.id %}" method="POST">
                            {% csrf_token %}

                            <div class="">
                                <h5>Таблица размеров</h5>

                                <div class="btn-group my-3" role="group" aria-label="Basic example">

                                    {% for size in sizes %}
                                        <div class="mx-1">
                                            <input type="radio" class="btn-check" name="options" id="{{ size.id }}" value="{{ size.id }}"
                                                   autocomplete="off" required/>
                                            <label class="btn btn-outline-secondary" style="width: 50px" for="{{ size.id }}">{{ size.size_number }}</label>
                                        </div>
                                    {% endfor %}
                                </div>

                            </div> <!-- row.// -->

                            <hr class="mx-4">

                            <button class="btn btn-outline-primary btn-lg my-3" type="submit"> <span
                                    class="text">Добавить в корзину</span> <i class="fas fa-shopping-cart"></i>
                            </button>


                        </form>
                    </div> <!-- col.// -->

                    <div class="col-md-6">
                        <div class="my-5" style="margin-left: 10%; margin-right: 10%">
                            <h4>Состав</h4>
                            {{ single_product.composition }}
                            <br>
                            <h4>Описание</h4>
                            {{ single_product.description }}
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="my-5" style="margin-right: 10%">
                            <h4>Характеристики</h4>
                            {% for specification in specifications %}
                                <p>{{ specification.title }}: {{ specification.value }}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div> <!-- card.// -->
            <!-- ============================ COMPONENT 1 END .// ================================= -->

            <br>

            <div class="row">
                <div class="container col-md-9">

                    <form action="{% url 'submit_review' single_product.id %}" method="POST">
                        {% csrf_token %}

                        <h5>Напишите свой отзыв</h5>

                        <div class="mb-2">

                            <label for="">Как вы оцениваете этот продукт?</label>
                            <br>
                            <div class="rate star">
                                <input type="radio" name="rating" id="rating10" value="5" required>
                                <label for="rating10"
                                       title="5"></label>

                                <input type="radio" name="rating" id="rating9" value="4.5" required>
                                <label for="rating9"
                                       title="4.5"
                                       class="half"></label>
                                <input type="radio" name="rating" id="rating8" value="4" required>
                                <label for="rating8"
                                       title="4"></label>

                                <input type="radio" name="rating" id="rating7" value="3.5" required>
                                <label for="rating7"
                                       title="3.5"
                                       class="half"></label>
                                <input type="radio" name="rating" id="rating6" value="3" required>
                                <label for="rating6"
                                       title="3"></label>

                                <input type="radio" name="rating" id="rating5" value="2.5" required>
                                <label for="rating5"
                                       title="2.5"
                                       class="half"></label>
                                <input type="radio" name="rating" id="rating4" value="2" required>
                                <label for="rating4"
                                       title="2"></label>

                                <input type="radio" name="rating" id="rating3" value="1.5" required>
                                <label for="rating3"
                                       title="1.5"
                                       class="half"></label>
                                <input type="radio" name="rating" id="rating2" value="1" required>
                                <label for="rating2"
                                       title="1"></label>

                                <input type="radio" name="rating" id="rating1" value="0.5" required>
                                <label for="rating1"
                                       title="0.5"
                                       class="half"></label>
                            </div>
                            <br>

                            Заголовок отзыва:
                            <input type="text" class="form-control" name="subject">
                            <br>
                            Отзыв:
                            <textarea name="review" class="form-control" id="" rows="4"></textarea>
                            <br>
                            {% if user.is_authenticated %}
                                {% if order_product %}
                                    <input type="submit" class="btn btn-primary" value="Submit Review">
                                {% else %}
                                    <p>Чтобы отставить отзыв вы должны приобрести этот товар</p>
                                {% endif %}
                            {% else %}
                                <p>You must be logged in to post a review</p>
                            {% endif %}

                        </div>
                        {% include 'inc/alerts.html' %}
                    </form>

                    <div class="d-flex my-3">
                        <h3 class="me-auto">Отзывы клиентов:</h3>

                        <div class="rating-star">
                                <span>
                                    <i class="fa fa-lg fa-star{% if variation.average_review < 0.5 %}-o{% elif variation.average_review >= 0.5 and variation.average_review < 1 %}-half-o {% endif %}"
                                       aria-hidden="true"></i>
                                    <i class="fa fa-lg fa-star{% if variation.average_review < 1.5 %}-o{% elif variation.average_review >= 1.5 and variation.average_review < 2 %}-half-o {% endif %}"
                                       aria-hidden="true"></i>
                                    <i class="fa fa-lg fa-star{% if variation.average_review < 2.5 %}-o{% elif variation.average_review >= 2.5 and variation.average_review < 3 %}-half-o {% endif %}"
                                       aria-hidden="true"></i>
                                    <i class="fa fa-lg fa-star{% if variation.average_review < 3.5 %}-o{% elif variation.average_review >= 3.5 and variation.average_review < 4 %}-half-o {% endif %}"
                                       aria-hidden="true"></i>
                                    <i class="fa fa-lg fa-star{% if variation.average_review < 4.5 %}-o{% elif variation.average_review >= 4.5 and variation.average_review < 5 %}-half-o {% endif %}"
                                       aria-hidden="true"></i>
                                </span>
                            <span>{{ variation.count_review }} отзыв</span>
                        </div>
                    </div>

                    {% for review in reviews %}

                        <div class="card " style="background-color:#ffffff;">
                            <div class="card-header d-flex">
                                <h6 class="mb-1 me-auto">{{ review.user.full_name }} </h6>
                                <div class="rating-star">
                                    <span>
                                        <i class="fa fa-lg fa-star{% if review.rating == 0.5 %}-half-o{% elif review.rating < 1 %}-o {% endif %}"
                                           aria-hidden="true"></i>
                                        <i class="fa fa-lg fa-star{% if review.rating == 1.5 %}-half-o{% elif review.rating < 2 %}-o {% endif %}"
                                           aria-hidden="true"></i>
                                        <i class="fa fa-lg fa-star{% if review.rating == 2.5 %}-half-o{% elif review.rating < 3 %}-o {% endif %}"
                                           aria-hidden="true"></i>
                                        <i class="fa fa-lg fa-star{% if review.rating == 3.5 %}-half-o{% elif review.rating < 4 %}-o {% endif %}"
                                           aria-hidden="true"></i>
                                        <i class="fa fa-lg fa-star{% if review.rating == 4.5 %}-half-o{% elif review.rating < 5 %}-o {% endif %}"
                                           aria-hidden="true"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">{{ review.subject }}</h5>
                                <p class="card-text">
                                    {{ review.review }}
                                </p>
                            </div>
                            <div class="card-footer">{{ review.created_at }}</div>
                        </div>
                    {% endfor %}

                </div> <!-- col.// -->
            </div> <!-- row.// -->


        </div> <!-- container .//  -->
    </section>


    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
        var swiper = new Swiper(".mySwiper", {
            slidesPerView: 3,
            {#spaceBetween: 30,#}
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
        });
    </script>
{% endblock %}