{% extends 'base.html' %}
{% load static %}

{% block head %}

{% endblock %}


{% block content %}

    <section class="section-content padding-y bg">
        <div class="container">
            <h4 class="text-center my-4">Просмотрите свой заказ и произведите оплату</h4>

            <div class="row">
                <div class="col-lg-8">
                    <div class="card">
                        <h5 class="card-header">Адрес доставки</h5>
                        <div class="card-body">
                            <p class="card-text mb-0">{{ order.full_name }}</p>
                            <p class="card-text mb-0">{{ order.full_address }}</p>
                            <p class="card-text mb-0">{{ order.email }}</p>
                            <p class="card-text mb-0">{{ order.phone }}</p>
                            {% if order.order_note %}
                                <b>Примечание к заказу:</b> {{ order.order_note }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="card">
                        <h5 class="card-header">Способ оплаты</h5>
                        <div class="card-body">
                            <p class="card-text">Paypal</p>
                        </div>
                    </div>
                    <div class="card">
                        <h5 class="card-header">Обзор продуктов</h5>
                        <div class="card-body">
                            {% for item in cart_items %}
                                <div class="mb-4 d-flex row">

                                    <div class="col-md-2 mx-2 my-auto">
                                        <img src="{{ item.variation.product.main_img.url }}" class="shadow"
                                             style="height: 150px; border-radius: 3%">
                                    </div>

                                    <div class="col-md-5 my-auto">
                                        <h5>{{ item.variation.product.product_name|truncatechars:30 }} </h5>
                                        <p class="text-muted mb-0"> Цвет: {{ item.variation.color }}  </p>
                                        <p class="text-muted mb-0"> Размер: {{ item.size }} </p>
                                    </div>

                                    <div class="col-md-1 d-flex">
                                        <p class="my-auto mx-3">{{ item.quantity }}</p>
                                    </div>

                                    <div class="col-md my-auto text-center">
                                        <h5>{{ item.sub_total }} руб </h5>
                                        <p class="text-muted">
                                            {{ item.variation.price }} руб за 1 шт
                                        </p>
                                    </div>

                                </div>
                                <hr>
                            {% endfor %}
                        </div>
                    </div>

                </div> <!-- col.// -->


                <div class="col-md-3">
                    <div class="card p-3">
                        <div class="card-body text-center">
                            <h4>Заказ на:</h4>
                            <h5 class="my-4">{{ total }} руб.</h5>
                            <hr>
                            <p class="mb-3">
                                <img src="{% static './images/misc/payments.png' %}" height="26">
                            </p>

                            <div id="paypal-button-container">
                            </div>

                        </div>
                    </div>
                </div>


            </div> <!-- row.// -->
            <!-- ============================ COMPONENT 1 END .// ================================= -->

        </div> <!-- container .//  -->
    </section>

    <div id="smart-button-container">
        <div style="text-align: center;">
            <div id="paypal-button-container"></div>
        </div>
    </div>


    <div id="smart-button-container">
        <div style="text-align: center;">
            <div id="paypal-button-container"></div>
        </div>
    </div>


    <div id="smart-button-container">
        <div style="text-align: center;">
            <div id="paypal-button-container"></div>
        </div>
    </div>
    <script src="https://www.paypal.com/sdk/js?client-id=sb&enable-funding=venmo&currency=RUB"
            data-sdk-integration-source="button-factory"></script>
    <script>

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        function initPayPalButton() {
            const total = parseFloat('{{ total }}');
            const url = '{% url 'payments' %}';
            const orderID = '{{ order.order_number }}';

            const csrftoken = getCookie('csrftoken');
            const payment_method = 'PayPal';
            const redirect_url = '{% url 'order_complete' %}'

            paypal.Buttons({
                style: {
                    shape: 'rect',
                    color: 'blue',
                    layout: 'vertical',
                    label: 'paypal',

                },

                createOrder: function (data, actions) {
                    return actions.order.create({
                        purchase_units: [{"amount": {"currency_code": "RUB", "value": total}}]
                    });
                },

                onApprove: function (data, actions) {
                    return actions.order.capture().then(function (orderData) {
                        sendData();

                        function sendData() {
                            fetch(url, {
                                method: 'POST',
                                headers: {
                                    'Content-type': 'application/json',
                                    'X-CSRFToken': csrftoken
                                },
                                body: JSON.stringify({
                                    orderID: orderID,
                                    transID: orderData.id,
                                    payment_method: payment_method,
                                    status: orderData.status,
                                })
                            })
                                .then((response) => {
                                    return response.json();
                                })
                                .then((data) => {
                                    window.location.href = redirect_url + '?order_number=' + data.order_number + '&payment_id=' + data.payment_id;
                                });
                        }
                    });
                },

                onError: function (err) {
                    console.log(err);
                }
            }).render('#paypal-button-container');
        }

        initPayPalButton();
    </script>


{% endblock %}

